 .cart {
    margin-top: 100px;
    text-align: left;
    font-size: 15px;
  }

  
  .cartItem {
    width: 700px;
    height: 250px;
    display: flex;
  
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 30px;
  }
  
  .cartItem img {
    width: 200px;
  }
  
  .cartItem .description {
    width: 100%;
    font-size: 30px;
  }
  
  .countHandler input {
    border: none;
    background-color: #1a1a1a;
    color: rgb(255, 255, 255);
    width: 40px;
    height: 25px;
    text-align: center;
    font-weight: bolder;
    border-radius: 15px; /* Fully rounded edges */
  }
  .checkout {
  display: flex;
  justify-content: center; /* Center align horizontally */
  align-items: center; /* Center align vertically */
}
  
  .checkout button {
    width: 150px;
    height: 50px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
  }

  .countHandler button {
    color: white;
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    font-size: 14px; /* Adjust the font size as needed */
    padding: 5px; /* Adjust the padding as needed */
    margin: 2px; /* Adjust the margin as needed */
  }

  .error {
    font-size: 12px; /* Smaller font size */
    color: #f44336; /* Optional: color for the error text */
    margin-top: 5px; 
}
